$colors: (
  'background':  #4d515d,
  'primary': #181a1e
);

$font-weights: (
  'light': 300,
  'regular': 400,
  'medium': 500,
  'bold': 700
);

@function prem($pixel, $base: 16) {
  @return #{$pixel / $base}rem;
}

@function pem($pixel, $base: 16) {
  @return #{$pixel / $base}em;
}

:root {
  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }

  @each $name, $value in $font-weights {
    --fw-#{$name}: #{$value};
  }

  --ff-primary: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;

  @media (max-width: 767px) {
    min-height: fit-content;
    max-height: 100vh;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}


.container {
  background: var(--color-background);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;

  @media (max-width: 767px) {
    min-height: fit-content;
    max-height: 100vh;
  }
}

.register-card {
  background-color: #fff;
  max-width: min(1150px, 80vw);
  min-height: 655px;
  border-radius: 5px;
  color: var(--color-primary);
  font-family: var(--ff-primary);
  display: flex;
  flex-direction: row;
  overflow: hidden;

  &__left {
    display: flex;
    flex-direction: column;
    width: 60%;

    &-top,
    &-bttm {
      padding: pem(50) pem(75);
    }

    &-bttm {
      border-top: 1px solid transparentize($color: #000, $amount: 0.9);
      margin-top: auto;
    }
    
    @media (max-width: 1025px) {
      width: 100%;
    }
  }

  &__right {
    width: 40%;

    @media (max-width: 1025px) {
      display: none;
    }
  }
  
  &__heading {
    font-size: prem(46);
    font-weight: var(--fw-light);
    margin-top: pem(30, 46);
  }

  &__paragraph {
    font-size: prem(15);
    font-weight: var(--fw-regular);
    opacity: 0.7;
    margin-top: pem(15, 25);
  }

  &__socials {
    display: flex;
    flex-direction: column;
    margin-top: pem(60);
    gap: pem(25);
  }

  &__social {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border: 1px #d3d3d3 solid;
    border-radius: 8px;
    padding: pem(32) pem(20);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    opacity: 0.7;
    font-size: prem(12);
    position: relative;

    &--google {
      &::before {
        content: url(../img/googleplus.svg);
      }
    }

    &--facebook {
      &::before {
        content: url(../img/facebook.svg);
      }
    }

    &--twitter {
      &::before {
        content: url(../img/twitter.svg);
      }
    }

    &::before {
      width: 22px;
      height: 22px;
      position: absolute;
      left: 5%;
      top: 30%;

      @media (max-width: 767px) {
        content: none;
      }
    }
  }

  &__emails {
    display: flex;
  }

  &__reminder {
    font-weight: var(--fw-medium);
    word-wrap: break-word;
    padding-right: pem(25);
  }

  &__email {
    margin-left: auto;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    opacity: 0.7;
    font-size: prem(12);
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}
